<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/footer.css">
</head>
<body>
    <footer>
    <div class="footerContainer" >
<a href="https://jdsn.deere.com/" target="_blank" class="home">Home</a>
    <a href="https://investor.deere.com/governance/default.aspx?cid=VURL_suppliercode" target="_blank"
                    class="codeOfConduct">Supplier Code Of Conduct</a>
    <a href="https://www.deere.com/en/privacy-and-data/privacy-statements/" target="_blank"
                    class="terms">Privacy &amp; Data</a>
    <a href="https://www.deere.com/en/privacy-and-data/terms/" target="_blank" class="use">Terms of
                    Use</a>
    </div>
    
    <p class="footerCR">Copyright  &copy; All Rights Reserved </p>
</footer>
</body>
</html>


