   
   
   <!DOCTYPE html>
   <html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
   </head>
   <body>
        <header>
      
           <div class="logo">
                <img src="/images/john-deere-logo-1.png" alt="" width="150" height="25" class="jdLogo">
            </div>
            

            <h2 class="hTitle">Parts Hub</h2>
           
            <div class="empty"></div>
            <div class="empty2"></div>
            <div class="headerOptions">

                <span class="vertical-line"></span>
                <a href="https://jdsn-contact-us.deere.com/" target="_blank" class="faqLink"><button class="faqBtn"><img src="/images/faq.png" alt="Image" width="24px" height="24px"/></button></a>
            <span class="vertical-line"></span>

            <div class="dropdown">
                <button class="userBtn">
                    <img src="/images/usuario.png" alt="Image" width="24px" height="24px" />
                    <span>Sain</span>
                </button>
                <div class="dropdown-content">
                    <div class="userData">
                        <p class="dropdownName">Sain Garcia</p>
                        <sub class="dropdownPos">Software</sub>
                    </div>
                    <a href="/admin">Admin</a>
                    <a href="/logout">
                        <img src="/images/logout.png" width="24px" height="24px" />
                        Sign Out
                    </a>
                    </div>
                </div>
            </div>
            
            

            {{!-- <span class="vertical-line"></span> 
         --}}
    </header>

    <script
  src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
  <script src="/landingPage.js"></script>
   </body>
   </html>
 