<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_landingPage.css">
    <title>Landing Page</title>
</head>
<body>
        {{>_header}}
    <main>
            <h2 class="allParts" id="allParts">All Parts(<span id="numberOfParts"></span>)</h2>
            <div class="searchContainer">
                <input type="text" placeholder="Search part number" class="partSearch" 
                     id="searchedPart" maxlength="6" minlength="6" style="text-transform:uppercase">
                <button class="searchBtn" id="searchPartBtn">Search</button>
            </div>

            <div class="message-container-success">
                <div class="message">Part Added Succesfully</div>
            </div>
            <div class="message-container-error">
                <div class="message">An error has ocurred</div>
            </div>
            <div class="message-container-successDelete">
                <div class="message">Part Deleted Succesfully</div>
            </div>
            <div class="message-container-successUpdate">
                <div class="message">Part Updated Succesfully</div>
            </div>
             <div class="message-container-noParts">
                <div class="message">Part doesn't exist</div>
            </div>

            <div class="addPartContainer">
                <button class="addPartBtn">Add Part</button>
            </div>

                
            <div class="cardLandingPage">

                <table id="partsTable">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Part Number
                            </th>
                              <th>
                                Description
                            </th>
                            <th>
                                Term Code
                            </th>
                             <th>
                                Net Weight
                            </th>
                            <th>
                                Gross Weight
                            </th>
                            <th class="headActions">
                              Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody >
                    </tbody>
                </table>
            </div>
           <div class="addPartModal">
            <form class="addPartModal-content" id="addPartForm">
                <span class="close">&times;</span>
                <div class="firstColumn">
                    <label class="partNumberL">Part Number</label>    
                    <input class="partNumberI"  id="partNumberI" name="partNumberI" type="text" placeholder="X00000"  style="text-transform:uppercase">
                    <label class="descL">Description</label>
                    <input class="descI" id="descI" name="descI" type="text" style="text-transform:uppercase" placeholder="Add Description" >
                    <label class="similarPartL">Similar Part</label>
                    <select  class="similarPartS" name="similarPartS" id="similarPartS"></select>
                    <label class="containerL">Container</label>
                    <select  class="containerS" name="containerS" id="containerS"></select> 
                </div>
                <div class="secondColumn">
                    <label class="netWeightL">Net Weight</label>    
                    <input class="netWeightI" name="netWeightI"  id="netWeightI"  type="text" placeholder="0.00" >
                    <label class="grossWeightL">Gross Weight</label>
                    <input class="grossWeightI" name="grossWeightI" id="grossWeightI"  type="text"  placeholder="0.00" >
                    <label class="termCodeL">Term Code</label>
                    <input  class="termCodeI" name="termCodeI" id="termCodeI" type="text" placeholder="000000" >
                    <label class="termCodeDescL">Term Code Description</label>
                    <input  class="termCodeDescI" name="termCodeDescI" id="termCodeDescI" type="text" placeholder="Add Description" style="text-transform:uppercase">
                </div>
                <div class="thirdColumn">
                    <label class="userL">User</label>
                    <select  class="userS" name="userS" id="userS"></select>
                    <label class="revisionL">Revision</label>
                    <select  class="revisionS" name="revisionS" id="revisionS"></select>
                     <label class="plantL">Plant</label>
                    <select  class="plantS" name="plantS" id="plantS">
                    </select>
                </div>
                <div class="buttonContainer">
                    <button type="click" class="cancelBtn">Cancel</button>
                    <button type="submit" class="saveBtn">Save</button>
                 </div>
            </form>
           </div>

           <div class="addPartModalUpdate" >
            <form class="addPartModal-content" id="updatePartForm">
                <span class="close" id="closeBtnUpdate">&times;</span>
                <div class="firstColumn">
                    <input type="text" id="idPart">
                    <label class="partNumberL">Part Number</label>    
                    <input class="partNumberI"  id="partNumberU" name="partNumberU" type="text" placeholder="X00000"  style="text-transform:uppercase">
                    <label class="descL">Description</label>
                    <input class="descI" id="descU" name="descU" type="text" style="text-transform:uppercase" placeholder="Add Description">
                    <label class="similarPartL">Similar Part</label>
                    <select  class="similarPartS" name="similarPartU" id="similarPartU"></select>
                    <label class="containerL">Container</label>
                    <select  class="containerS" name="containerU" id="containerU"></select> 
                </div>
                <div class="secondColumn">
                    <label class="netWeightL">Net Weight</label>    
                    <input class="netWeightI" name="netWeightU"  id="netWeightU"  type="text" placeholder="0.00">
                    <label class="grossWeightL">Gross Weight</label>
                    <input class="grossWeightI" name="grossWeightU" id="grossWeightU"  type="text"  placeholder="0.00">
                    <label class="termCodeL">Term Code</label>
                    <input  class="termCodeI" name="termCodeU" id="termCodeU" type="text" placeholder="000000" >
                    <label class="termCodeDescL">Term Code Description</label>
                    <input  class="termCodeDescI" name="termCodeDescU" id="termCodeDescU" type="text" placeholder="Add Description" style="text-transform:uppercase">
                </div>
                <div class="thirdColumn">
                    <label class="userL">User</label>
                    <select  class="userS" name="userU" id="userU"></select>
                    <label class="revisionL">Revision</label>
                    <select  class="revisionS" name="revisionU" id="revisionU"></select>
                     <label class="plantL">Plant</label>
                    <select  class="plantS" name="plantU" id="plantU">
                    </select>
                </div>
                <div class="buttonContainer">
                    <button type="click" class="cancelBtn" id="updateModalClose" nosubmit>Cancel</button>
                    <button type="submit" class="updateBtn">Update</button>
                 </div>
            </form>
           </div>

           <div class="loadingContainer">
                <div class="loading"></div>
           </div>
           
           
           <div class="deletePartModal">
            <div class="deleteParModal-content">
                <span class="close" id="closeBtnDelete">&times;</span>
                <span class="deleteConfirmation">Are you sure you want to delete this part and its estimations?</span>
                <div class="buttonContainerDelete">
                    <button type="click" class="cancelBtn" id="cancelBtnDelete">Cancel</button>
                    <button type="click" class="confirmDelete">Delete</button>
                 </div>
            </div>
           </div>
     
        
        
    
    </main>
      {{>_footer}}
    </div>
<script
  src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" 
        integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA=" 
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js" integrity="sha512-nlp9/l96/EpjYBx7EP7pGASVXNe80hGhYAUrjeXnu/fyF5Py0/RXav4BBNs7n5Hx1WFhOEOWSAVjGeC3oKxDVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>