<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/partDetails.css">
    <title>Part Details</title>
</head>

<body>
    {{>_header}}
    <main>
        <ul class="breadcrumb">
            <li><a href="/landingPage">Home</a></li>
            <li>Part Details</li>
        </ul>
       
       <div class="card" id="cardPartOverview">

       </div>

        <div class="card" id="cardTaskDrawer">
             <h2>Task Drawer</h2>
       </div>

        <div class="card" id="cardProject">
        
       </div>

        <div class="card" id="cardWhereUsed">
             <h2>Where Used</h2>
       </div>

       <div class="card" id="cardCompareParts">
             <h2>Compare Parts</h2>
       </div>

        <div class="card" id="cardCost">
         <h2>Cost</h2>
       </div>

        <div class="card" id="cardLeadTime">
         <h2>Lead Time</h2>
       </div>

       <div class="card" id="cardQuantities">
            <h2>Quantities</h2>
       </div>


        <div class="card" id="cardTooling">
             <h2>Tooling</h2>
       </div>

         <div class="card" id="cardNotes">
             <h2>Notes</h2>
       </div>
       
       

       

       


    </main>
    {{>_footer}}

    <script
  src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" 
        integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA=" 
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js" integrity="sha512-nlp9/l96/EpjYBx7EP7pGASVXNe80hGhYAUrjeXnu/fyF5Py0/RXav4BBNs7n5Hx1WFhOEOWSAVjGeC3oKxDVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>