<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/partDetails.css">
  <title>Part Details</title>
</head>

<body>
  {{>_header}}
  <main>
    <div class="breadAndNotContainer">

      <ul class="breadcrumb">
        <li><a href="/landingPage">Home</a></li>
        <li>Part Details</li>
      </ul>

      <div class="message-container-successAdmin">
        <span class="message"></span>
      </div>
      <div class="message-container-errorAdmin">
        <span class="message"></span>
      </div>


    </div>

    {{!-- PART OVERVIEW MODULE --}}
    <div class="card" id="cardPartOverview">
      <div id="imageContainer">
        
      </div>
      <div id="overViewInfo">
        <label id="partNumberLabel">Part Number</label>
        <p id="partNumber"></p>
        <label id="revisionLabel">Revision</label>
        <p id="revision"></p>
        <label id="partDescLabel">Description</label>
        <p id="partDesc"></p>
        <label id="unitLabel">Unit</label>
        <p id="unit"></p>
        <label id="termCodeLabel">Term Code</label>
        <p id="termCode"></p>
        <label id="termCodeDescLabel">Term Description Code</label>
        <p id="termCodeDescription"></p>
        <label id="netWeightLabel">Net Weight</label>
        <p id="netWeight"></p>
        <label id="grossWeightLabel">Gross Weight</label>
        <p id="grossWeight"></p>
        <label id="globaleEAULabel">Global EAU</label>
        <p id="globalEAU"></p>
      </div>
    </div>


    {{!-- TAST DRAWER MODULE --}}
    <div class="card" id="cardTaskDrawer">
      <h2 id="tdTitle">Task Drawer</h2>
      <div id="stepper-content">

        <!-- completed -->
        <div class="step completed" >
          <div class="v-stepper">
            <div class="circle" id="costStep"></div>
            <div class="line"></div>
          </div>

          <div class="content">
           Cost <span>(Estimate various part costs and final price)</span>
          </div>
        </div>

        <div class="step completed">
          <div class="v-stepper">
            <div class="circle" id="supplierStep"></div>
            <div class="line"></div>
          </div>

          <div class="content">
            Supplier <span>(Choose one supplier for the part)</span>
          </div>
        </div>

        <div class="step completed">
          <div class="v-stepper">
            <div class="circle"  id="leadTimeStep"></div>
            <div class="line"></div>
          </div>

          <div class="content">
            Lead Time  <span>(Estimate delivery times in weeks)</span>

          </div>
        </div>

        <div class="step completed">
          <div class="v-stepper">
            <div class="circle"  id="quantitiesStep"></div>
            <div class="line"></div>
          </div>

          <div class="content">
            Quantities <span>(Estimate quantity  and per buyer)</span>
          </div>
        </div>

        <div class="step completed">
          <div class="v-stepper">
            <div class="circle"  id="toolingStep"></div>
            <div class="line"></div>
          </div>

          <div class="content">
            Tooling <span>(Estimate tooling charge)</span>
          </div>
        </div>

        <div class="step completed">
          <div class="v-stepper">
            <div class="circle" id="notesStep"></div>
            <div class="line"></div>
          </div>

          <div class="content">
            Notes <span>(Add notes to the part)</span>
          </div>
        </div>

        <div class="step completed">
          <div class="v-stepper">
            <div class="circle"  id="serviceStep"></div>
            <div class="line"></div>
          </div>

          <div class="content">
            Service <span>(Select local and global service)</span>
          </div>
        </div>
       
      </div>

      <button disabled type="click" id="signOffButton" class="addBtn">Sign Off Part</button>
    </div>

    {{!-- PROJECT MODULE --}}
    <div class="card" id="cardProject">
      <label id="ecmLabel">ECM Project</label>
      <p id="ecm"></p>
      <label id="localEcmLabel">Local ECM</label>
      <p id="localEcm"></p>
      <label id="changeTypeLabel">Change Type</label>
      <p id="changeType"></p>
      <label id="teamNameLabel">Team Name</label>
      <p id="teamName"></p>
      <label id="ecrNumberLabel">ECR Number</label>
      <p id="ecrNumber"></p>
    </div>

    {{!-- WHERE USED MODULE --}}
    <div class="card" id="cardWhereUsed">
      <h2>Where Used</h2>
      <div id="tableContent">
        <table id="whereUsedTable">
          <thead>
            <tr>
              <th>
                Plant
              </th>
              <th>
                Supplier Number-Name
              </th>
              <th>
                Term Code
              </th>
              <th>
                Term Code Description
              </th>
              <th>
                52 Wk Forecast
              </th>
              <th>
                Price
              </th>
            </tr>

          </thead>
          <tbody>
          </tbody>
        </table>

        </div>
    </div>

    {{!-- COMPARE PARTS MODULE --}}
    <div class="card" id="cardCompareParts">
      <h2>Compare Parts</h2>
      <div class="compareParts-content">
        <div class="indexes">
         
            <label id="plant" class="label">Plant</label>
            <label id="partInfo" class="label" >General Part Info</label>
            <label id="termCode" class="subLabel">Term Code</label>
            <label id="netWeight" class="subLabel">Net Weight</label>
            <label id="grossWeight" class="subLabel">Gross Weight</label>

            <label id="sourcing"  class="label">Sourcing</label>
            <label id="price" class="subLabel">Price</label>
            <label id="supplierNumberLabel" class="subLabel">Supplier Number</label>
            <label id="supplierName" class="subLabel">Supplier Name</label>

            <label id="usage"  class="label">Usage</label>
            <label id="ecmProject" class="subLabel">ECM Project</label>
            <label id="globalEstimationCP" class="subLabel">Global Est EAU</label>
            <label id="buyerEstimationCP" class="subLabel">Buyer Est EAU</label>

            <label id="service"  class="label">Service</label>
            <label id="localService" class="subLabel">Local Service Indicator</label>
            <label id="globalService" class="subLabel">Global Service Indicator</label>

            <label id="container"  class="label">Container</label>
            <label id="quantity" class="subLabel">Container Quantity</label>
            <label id="description" class="subLabel">Description</label>
            <label id="roundingValue" class="subLabel">Rounding Value</label>
            <label id="minLotSize" class="subLabel">Min. Lot Size</label>
            
        </div>
        <div class="part">
                <div id="partImage"></div>
                <span id="partPlant"></span>
                <span id="partPartInfo"></span>
                <span id="partTermCode"></span>
                <span id="partNetWeight"></span>
                <span id="partGrossWeight"></span>
                <span id="partPrice"></span>
                <span id="partSupplierNumber"></span>
                <span id="partSupplierName"></span>
                <span id="partECMProject"></span>
                <span id="partGlobalEstimation"></span>
                <span id="partBuyerEstimation"></span>
                <span id="partLocalService"></span>
                <span id="partGlobalService"></span>
                <span id="partQuantity"></span>
                <span id="partDescription"></span>
                <span id="partRoundingValue"></span>
                <span id="partMinLotSize"></span>
        </div>
        <div class="similarPart">
                <div id="similarPartImage"></div>
                <span id="similarPartPlant"></span>
                <span id="similarPartPartInfo"></span>
                <span id="similarPartTermCode"></span>
                <span id="similarPartNetWeight"></span>
                <span id="similarPartGrossWeight"></span>
                <span id="similarPartPrice"></span>
                <span id="similarPartSupplierNumber"></span>
                <span id="similarPartSupplierName"></span>
                <span id="similarPartECMProject"></span>
                <span id="similarPartGlobalEstimation"></span>
                <span id="similarPartBuyerEstimation"></span>
                <span id="similarPartLocalService"></span>
                <span id="similarPartGlobalService"></span>
                <span id="similarPartQuantity"></span>
                <span id="similarPartDescription"></span>
                <span id="similarPartRoundingValue"></span>
                <span id="similarPartMinLotSize"></span>
        </div>
      </div>

    </div>

    {{!-- COST MODULE --}}
    <div class="card" id="cardCost">
      <h2>Cost</h2>
      <button class="selectBtn" id="selectCostBtn">Select</button>
      <form id="costForm">
        <div class="firstColumn">
          <label>Prod Cost Qual</label>
          <select id="prodCostQualSelect" name="prodCostQualSelect">
            <option value="" disabled hidden selected>Select a cost qual</option>
            <option value="Supplier Quote">Supplier Quote</option>
            <option value="Supplier Estimate">Supplier Estimate</option>
            <option value="Buyer Estimate">Buyer Estimate</option>
          </select>
          <label>Supplier Quote</label>
          <input type="text" name="supplierQuote" id="supplierQuote">
          <label>Experimental Supplier Quote</label>
          <input type="text" name="experimentalSupplierQuote" id="experimentalSupplierQuote">
          <label>Should Cost</label>
          <input type="text" name="shouldCost" id="shouldCost">
          <label>Should Cost Source</label>
          <select id="shouldCostSourceSelect" name="shouldCostSourceSelect">
            <option value="" disabled hidden selected>Select a source</option>
            <option value="Estimate">Estimate</option>
            <option value="Regression">Regression</option>
            <option value="Quote Form Analysis">Quote Form Analysis</option>
          </select>
        </div>
        <div class="secondColumn">
          <label>Unit Currency</label>
          <select name="unitCurrency" id="unitCurrency">
            <option value="" disabled hidden selected>Select a currency</option>
          </select>
          <label>Production Cost</label>
          <input type="text" name="productionCost" id="productionCost">
          <label>Experimental Cost</label>
          <input type="text" name="experimentalCost" id="experimentalCost">
          <label>Target Cost</label>
          <input type="text" name="targetCost" id="targetCost">
        </div>
        <div class="thirdColumn">
          <div class="costCalculation">
            <div class="costCalculationFirstColumn">
              <label>Surcharge</label>
              <label>Direct Material</label>
              <label>Direct Overhead</label>
              <label>Period Overhead</label>
              <label>TIC</label>
            </div>
            <div class="costCalculationSecondColumn">
              <input type="text" name="surcharge" id="surcharge">
              <input type="text" name="directMat" id="directMat">
              <input type="text" name="dirOverhead" id="dirOverhead">
              <input type="text" name="perOverhead" id="perOverhead">
              <span id="tic" style="margin-right: 8px; font-weight: 700">0</span>
            </div>
          </div>
          <button type="click" class="addBtn" id="saveCostBtn">Save</button>
        </div>
      </form>
    </div>

    <div class="modal" id="costSelectModal">
      <div class="modal-content" id="costSelectModal-content">
        <span class="close" id="closeCostModal">&times;</span>
        <div id="tableContent">
          <table id="costTable">
            <thead>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Prod Cost Qual
                </th>
                <th>
                  Supplier Quote
                </th>
                <th>
                  Experimental Supplier Quote
                </th>
                <th>
                  Should Cost
                </th>
                <th>
                  Should Cost Source
                </th>
                <th>
                  Unit Currency
                </th>
                <th>
                  Production Cost
                </th>
                <th>
                  Experimental Cost
                </th>
                <th>
                  Target Cost
                </th>
                <th>
                  Surcharge
                </th>
                <th>
                  Direct Material
                </th>
                <th>
                  Direct Overhead
                </th>
                <th>
                  Perdio Overhead
                </th>
                <th>
                  TIC
                </th>
                <th>
                  Create
                </th>
                <th>
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

        </div>

      </div>
    </div>

    <div class="modal" id="deleteCostModal">
      <div class="modal-content" id="deleteCostModal-content">
        <span class="close" id="closeDeleteCostModal">&times;</span>
        <span class="deleteConfirmation">Are you sure you want to delete this cost estimation?</span>
        <div class="buttonContainerDelete">
          <button type="click" class="cancelBtnAdmin" id="cancelCostDelete">Cancel</button>
          <button type="click" class="confirmUserDelete" id="confirmCostDelete">Delete</button>
        </div>
      </div>
    </div>

    {{!--LEAD TIME MODULE --}}
    <div class="card" id="cardLeadTime">
      <h2>Lead Time</h2>
      <button class="selectBtn" id="selectLeadTimeBtn">Select</button>
      <form id="leadTimeForm">
        <div class="firstColumn">
          <label for="selectPPBB">Prod Procure By Build</label>
          <select name="selectPPBB" id="selectPPBB">
            <option value="" disabled hidden selected>Please select a procurement</option>
            <option value="Durability Build">Durability Build</option>
            <option value="Feasability Build">Feasability Build</option>
            <option value="Limited Production Build">Limited Production Build</option>
            <option value="Production Build">Production Build</option>
          </select>
          <label for="selectTNBB" id="selectTNBBLabel">Tool Need By Build</label>
          <select name="selectTNBB" id="selectTNBB">
            <option value="" disabled hidden selected>Please select a tool</option>
            <option value="Durability Build">Durability Build</option>
            <option value="Feasability Build">Feasability Build</option>
            <option value="Limited Production Build">Limited Production Build</option>
            <option value="Production Build">Production Build</option>
          </select>
          <label for="location" id="locationLabel">Location</label>
          <select name="location" id="location">
            <option value="" disabled hidden selected>Please select a location</option>
            <option value="Fabrication">Fabrication</option>
            <option value="Cab Line">Cab Line</option>
            <option value="Main Line">Main Line</option>
            <option value="Program Defined">Program Defined</option>
          </select>
        </div>
        <div class="secondColumn">
          <div class="firstRow">
            <label id="expLTLabel">Experimental LT</label>
            <div class="inputUOM">
              <input type="text" name="experimentalLT" id="experimentalLT">
              <span>Wks</span>
            </div>
          </div>
          <div class="secondRow">
            <label>Prod Procurement LT</label>
            <div class="inputUOM">
              <input type="text" name="prodProcurementLT" id="prodProcurementLT">
              <span>Wks</span>
            </div>
            <label>Tooling LT</label>
            <div class="inputUOM">
              <input type="text" name="toolingLT" id="toolingLT">
              <span>Wks</span>
            </div>
            <label>Admin LT</label>
            <div class="inputUOM">
              <input type="text" name="adminLT" id="adminLT">
              <span>Wks</span>
            </div>
            <label>Material Rel LT</label>
            <div class="inputUOM">
              <span id="materialRelLT" style="margin-right: 8px; font-weight: 700">0</span><span>Wks</span>
            </div>
          </div>
          <button disabled class="addBtn" type="click" id="addLeadTimeBtn">Save</button>
        </div>
      </form>
    </div>


    <div class="modal" id="leadTimeSelectModal">
      <div class="modal-content" id="leadTimeSelectModal-content">
        <span class="close" id="closeLeadTimeModal">&times;</span>
        <div id="tableContent">
          <table id="leadTimeTable">
            <thead>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Prod Procure By Build
                </th>
                <th>
                  Tool Need By Build
                </th>
                <th>
                  Location
                </th>
                <th>
                  Experimental Lead Time
                </th>
                <th>
                  Prod Procurement Lead Time
                </th>
                <th>
                  Tooling LT
                </th>
                <th>
                  Admin LT
                </th>
                <th>
                  Material LT
                </th>
                <th>
                  Create Date
                </th>
                <th>
                  Actions
                </th>
              </tr>

            </thead>
            <tbody>
            </tbody>
          </table>

        </div>

      </div>
    </div>

    <div class="modal" id="deleteLeadtimeModal">
      <div class="modal-content" id="deleteLeadtimeModal-content">
        <span class="close" id="closeDeleteLeadTimeModal">&times;</span>
        <span class="deleteConfirmation">Are you sure you want to delete this lead time estimation?</span>
        <div class="buttonContainerDelete">
          <button type="click" class="cancelBtnAdmin" id="cancelLeadTimeDelete">Cancel</button>
          <button type="click" class="confirmUserDelete" id="confirmLeadTimeDelete">Delete</button>
        </div>
      </div>
    </div>


    {{!-- SUPPLIER MODULE --}}
    <div class="card" id="cardSupplier">
      <h2>Supplier</h2>
      <form id="supplierForm">
        <div class="firstColumn">
          <label>Supplier Name</label>
          <label>Supplier Number</label>
          <label>Country</label>
          <label>Category </label>
          <label>Subcontracting</label>
        </div>
        <div class="secondColumn">
          <select name="supplier" id="supplier">
            <option value="" disabled selected hidden></option>
          </select>
          <p class="supplierInfo" id="supplierNumber"></p>
          <p class="supplierInfo" id="country"></p>
          <p class="supplierInfo" id="category"></p>
          <p class="supplierInfo" id="subcontracting"></p>
        </div>
        <button disabled type="click" class="addBtn" id="saveSupplier">Save</button>
    </div>
    </form>


    {{!-- SERVICE MODULE --}}
    <div class="card" id="cardService">
      <h2>Service</h2>
      <form id="serviceForm">
        <div class="firstColumn">
          <label>Local Service Indicator</label>
          <label>Global Service Indicator</label>
        </div>
        <div class="secondColumn">
          <select name="lsi" id="lsi">
            <option value="" disabled selected hidden>Please select local service</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <select name="gsi" id="gsi">
            <option value="" disabled selected hidden>Please select global service</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <button disabled type="click" class="addBtn" id="saveService">Save</button>
      </form>


    </div>

    {{!-- QUANTTITIES MODULE --}}
    <div class="card" id="cardQuantities">
      <h2>Quantities</h2>
      <div class="btnContainer" id="quantityBtnContainer">
        <button class="selectBtn" id="selectQuantityBtn">Select</button>

      </div>
      <div class="firstColumn">
        <label>Global Estimation</label>
        <label>Buyer Estimation</label>
        <label>Quoted Estimation</label>
      </div>
      <form class="secondColumn" id="quantityForm">
        <input type="text" name="globalEstimation" id="globalEstimation">
        <input type="text" name="buyerEstimation" id="buyerEstimation">
        <input type="text" name="quotedEstimation" id="quotedEstimation">
        <button disabled class="addBtn" type="click" id="addQuantityBtn">Save</button>

      </form>
    </div>

    <div class="modal" id="quantitySelectModal">
      <div class="modal-content" id="quantitySelectModal-content">
        <span class="close" id="closeQuantityModal">&times;</span>
        <div id="tableContent">
          <table id="quantityTable">
            <thead>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Global Estimation
                </th>
                <th>
                  Buyer Estimation
                </th>
                <th>
                  Quoted Estimation
                </th>
                <th>
                  Create Date
                </th>
                <th>
                  Actions
                </th>
              </tr>

            </thead>
            <tbody>
            </tbody>
          </table>

        </div>

      </div>
    </div>


    <div class="modal" id="deleteQuanModal">
      <div class="modal-content" id="deleteQuanModal-content">
        <span class="close" id="closeDeleteQuanModal">&times;</span>
        <span class="deleteConfirmation">Are you sure you want to delete this quantity estimation?</span>
        <div class="buttonContainerDelete">
          <button type="click" class="cancelBtnAdmin" id="cancelQuanDelete">Cancel</button>
          <button type="click" class="confirmUserDelete" id="confirmQuanDelete">Delete</button>
        </div>
      </div>
    </div>

    {{!-- TOOLING MODULE --}}
    <div class="card" id="cardTooling">
      <h2>Tooling</h2>
      <div class="btnContainer" id="toolingBtnContainer">
        <button class="selectBtn" id="selectToolingBtn">Select</button>
      </div>
      <form id="toolingForm">
        <div class="firstColumn">
          <label>Investment Quality</label>
          <select name="invQual" id="invQual">
            <option value="" disabled selected hidden> Please select an option</option>
            <option value="Estimate">Estimate</option>
            <option value="Regression">Regression</option>
            <option value="Quote Form Analysis">Quote Form Analysis</option>
          </select>
          <label>Supplier Tooling</label>
          <input type="text" name="supTool" id="supTool">
          <label>Deere Tooling Expense</label>
          <input type="text" name="deereToolExp" id="deereToolExp">
        </div>
        <div class="secondColumn">
          <label>Investment Reports</label>
          <select name="invRep" id="invRep">
            <option value="" disabled selected hidden> Please select an option</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label>Supplier Tooling Expense</label>
          <input type="text" name="supToolExp" id="supToolExp">
          <label>Returnable Container</label>
          <input type="text" name="returnCont" id="returnCont">
        </div>
        <div class="thirdColumn">
          <label>Experimenal Tooling</label>
          <input type="text" name="expTool" id="expTool">
          <label>Deere Tooling</label>
          <input type="text" name="deereTool" id="deereTool">
        </div>

        <button disabled type="click" class="addBtn" id="saveToolingBtn">Save</button>

      </form>
    </div>

    <div class="modal" id="toolingSelectModal">
      <div class="modal-content" id="toolingSelectModal-content">
        <span class="close" id="closeToolingModal">&times;</span>
        <div id="tableContent">
          <table id="toolingTable">
            <thead>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Investment Quality
                </th>
                <th>
                  Investment Reports
                </th>
                <th>
                  Experimental Tooling
                </th>
                <th>
                  Supplier Tooling
                </th>
                <th>
                  Supplier Tooling Expense
                </th>
                <th>
                  Deere Tooling
                </th>
                <th>
                  Deere Tooling Expense
                </th>
                <th>
                  Returnable Container
                </th>
                <th>
                  Create Date
                </th>
                <th>
                  Actions
                </th>
              </tr>

            </thead>
            <tbody>
            </tbody>
          </table>

        </div>

      </div>
    </div>

    <div class="modal" id="deleteToolingModal">
      <div class="modal-content" id="deleteToolingModal-content">
        <span class="close" id="closeDeleteToolingModal">&times;</span>
        <span class="deleteConfirmation">Are you sure you want to delete this tooling estimation?</span>
        <div class="buttonContainerDelete">
          <button type="click" class="cancelBtnAdmin" id="cancelToolingDelete">Cancel</button>
          <button type="click" class="confirmUserDelete" id="confirmToolingDelete">Delete</button>
        </div>
      </div>
    </div>

    {{!-- NOTES MODULE --}}
    <div class="card" id="cardNotes">
      <h2>Notes</h2>
      <div class="btnContainer" id="notesBtnContainer">
        <button class="selectBtn" id="selectNotesBtn">Select</button>
      </div>
      <form id="notesForm">
        <textarea id="notes" name="notes" cols="52" rows="2"></textarea>
        <button disabled type="click" class="addBtn" id="saveNotesBtn">Save</button>
      </form>
    </div>


    <div class="modal" id="notesSelectModal">
      <div class="modal-content" id="notesSelectModal-content">
        <span class="close" id="closeNotesModal">&times;</span>
        <div id="tableContent">
          <table id="notesTable">
            <thead>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Note
                </th>
                <th>
                  Create Date
                </th>
                <th>
                  Actions
                </th>
              </tr>

            </thead>
            <tbody>
            </tbody>
          </table>

        </div>

      </div>
    </div>


    <div class="modal" id="deleteNotesModal">
      <div class="modal-content" id="deleteNotesModal-content">
        <span class="close" id="closeDeleteNotesModal">&times;</span>
        <span class="deleteConfirmation">Are you sure you want to delete this note?</span>
        <div class="buttonContainerDelete">
          <button type="click" class="cancelBtnAdmin" id="cancelNotesDelete">Cancel</button>
          <button type="click" class="confirmUserDelete" id="confirmNoteDelete">Delete</button>
        </div>
      </div>
    </div>








  </main>
  {{>_footer}}

  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"
    integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
    integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js"
    integrity="sha512-nlp9/l96/EpjYBx7EP7pGASVXNe80hGhYAUrjeXnu/fyF5Py0/RXav4BBNs7n5Hx1WFhOEOWSAVjGeC3oKxDVQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/quantity.js"></script>
  <script src="/cost.js"></script>
  <script src="/leadTime.js"></script>
  <script src="/tooling.js"></script>
  <script src="/notes.js"></script>
  <script src="/featureFlags.js"></script>
  <script src="/supplier.js"></script>
  <script src="/overview.js"></script>
  <script src="/service.js"></script>
  <script src="/project.js"></script>
    <script src="/whereUsed.js"></script>
     <script src="/compareParts.js"></script>
     <script src="/taskDrawer.js"></script>

</body>

</html>