<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restriction</title>
    <link rel="stylesheet" href="/restriction.css">
</head>
<body>
      {{>_header}}

      <main>
        <div class="restrictionSignal">
           <img src="/images/alerta.png" alt="" id="alertImg">
           <p>You don't have access to this route. Click here to go to <a href="/">homepage</a></p>
        </div>
      </main>

      {{>_footer}}
</body>
</html>