html{
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  
}




main {
 width: 100%;
 margin: 0 auto;
  grid-area: main;
  display: grid;
  min-height: calc(100vh - 75px - 120px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-gap: 10px;
  grid-template-areas: "breadcrumb breadcrumb breadcrumb"
                        "cardUsers cardUsers cardFF"
                        "reports reports reports"
}






@media screen and (max-width: 768px){
  main{
    grid-template-areas: "breadcrumb breadcrumb breadcrumb"
                        "cardUsers cardUsers cardFF"
                        "cardUsers cardUsers cardFF"
    }
  
}

@media screen and (max-width: 576px){
    main{
        grid-template-areas: "breadcrumb breadcrumb breadcrumb"
                            "cardUsers cardUsers cardUsers"
                            "cardFF cardFF cardFF"
        }
} 


ul.breadcrumb {
    padding: 10px 10px;
    list-style: none;
    background-color: inherit;
    margin-bottom: 4px;
    margin-left: 4px;
    grid-area: breadcrumb;
 }
  
 
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  

  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  

  ul.breadcrumb li a {
    color: green;
    text-decoration: none;
    text-decoration: underline;
  }

  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }


  .message-container-successAdmin {
    background-color:  rgba(0, 255, 0, 0.233);
    border-radius: 5px;
    width: 100px;
    grid-column: 2;
    grid-row: 1;
    height: 50%;
    width: 50%;
    position: relative;
    overflow: hidden;
    align-items: center;
    top: 0;
    text-align: center;
    display: grid;
    justify-content:center;
    place-self: center;
  }
  
  .message-container-errorAdmin {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    width: 100px;
    grid-column: 2;
    grid-row: 1;
    height: 50%;
    width: 50%;
    position: relative;
    align-items: center;
    overflow: hidden;
    top: 0;
    text-align: center;
    display: grid;
    justify-content:center;
    place-self: center;
  }
  
  .message {
    font-size: 14px;
    font-weight: 700;
    color: #5d6168;
    text-align: center;
  }

  .cardUsers{
    background-color: WHITE;
    padding: 10px;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 5px;
    margin: 10px;
    min-height: 300px;
    max-height: 00px;
    grid-area: cardUsers;
    overflow-y: auto; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr;
    grid-gap: 10px;
  }

.cardUsers h2 {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    margin: 8px
  }

  .cardUsers table {
    border-collapse: collapse; 
    width: 100%;
    grid-column: 1/4;
    grid-row: 2;
    align-self: self-start;
  }

  .cardUsers thead th {
    position: sticky; 
    top: -15px;
    height: 50px;
    border-bottom: 2px solid rgb(194, 193, 193);
  }
  
  .cardUsers thead :hover{
    background-color: #c9c9c9;
  }
  .cardUsers th, td {
    padding: 8px 16px;
    border-bottom: 1px solid rgb(194, 193, 193);
  }
  
  .cardUsers th {
    background: white;
  }
  
  .cardUsers td{
    text-align: center;
  }
  

  .addBtn {
    background-color: #ffd621;
    color: black;
    border: 0;
    border-radius: 5px;
    margin: 8px;
    right: 0px;
    width: 80px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    margin-right: 16px;
    -webkit-transition: all 0.3s ease;
  }
  
  .addBtn:hover {
    display: block;
    transition: all 0.3s ease;
    background-color: #e4c022;
  }
  
  
  .addBtn:active {
    background-color: #666666;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#addUserBtn{
  grid-column: 3;
  grid-row: 1;
  place-self: right!important;
  justify-self: right;
  align-self: right;
}

.addUserModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.addUserModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 700px;
  height: 300px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px 1fr 30px;
  column-gap: 10px;
  row-gap: 10px;
}

.addUserModal-content p{
  text-align: left;
  margin-left: 8px;
}
.addUserModal-content input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{ 
  -webkit-appearance: none;
  margin: 0;

}

.addUserModal-content h3{
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}

.close {
  text-align: right;
  grid-row: 1;
  grid-column: 3;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: none;
  background-color: white;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 



.addUserModal-content label{
  margin: 8px;
  position: relative;
  font-weight: 700;
}

.addUserModal-content input, select {
  display: block;
  margin-top: 0px!important;
  margin-left: 8px!important;
  margin-right: 8px!important;
  margin-bottom: 0px!important;
  border-radius: 8px;
  position: relative !important;
}

.addUserModal-content input{
  width: 150px;
  height: 21.33px;
}

.addUserModal-content  select{
  width: 150px;
  height: 27.33px;
}



.firstColumn{
  display: flex;
  grid-column: 1;
  grid-row: 2;
  flex-direction: column;
}

.secondColumn{
  display: flex;
  grid-column: 2;
  grid-row: 2;
  flex-direction: column;
}

.thirdColumn{
  display: flex;
  grid-column: 3;
  grid-row: 2;
  flex-direction: column;
}

.buttonContainer{
  display: flex;
  grid-column: 3;
  grid-row: 3;
  position: sticky!important;
}

.saveBtnAdmin {
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
  justify-self: right;
  align-self: right;
}

.saveBtnAdmin:hover {
  transition: all 0.3s ease;
  background-color: #e4c022;
}

.saveBtnAdmin:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cancelBtnAdmin {
  background-color: #f1f1f1;
  color: black;
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
  justify-self: right;
  align-self: right;
}

.cancelBtnAdmin:hover {
  transition: all 0.3s ease;
  background-color: #f1f1f1c5;
}

.cancelBtnAdmin:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.error{
  color: red;
  font-size: smaller;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
  margin-left: 8px!important;
}

.loadingContainer{
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.loading{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid green;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  grid-column: 2;
  grid-row: 2;
  place-self: center;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.actionBtn{
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.actionBtn:hover {
    transition: all 0.3s ease;
    background-color: #e4c022;
}
  
.actionBtn:active {
    background-color: #666666;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.deleteUserModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.deleteUserModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  height: 150px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 1fr 50px;
  column-gap: 10px;
  row-gap: 10px;
}

.deleteConfirmation{
  grid-row: 2;
  grid-column: 1/4;
  place-self: center;
  font-size: 20px;
}

.buttonContainerDelete{
  display: flex;
  align-items: end;
  justify-content: end;
  grid-column: 3;
  grid-row: 3;
  position: sticky!important;
}

.confirmUserDelete {
  background-color: red;
  color: black;
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.confirmUserDelete:hover {
  transition: all 0.3s ease;
  background-color: rgba(255, 0, 0, 0.63);
}

.confirmUserDelete:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.updateUserModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.updateUserModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 700px;
  height: 300px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px 1fr 30px;
  column-gap: 10px;
  row-gap: 10px;
}

.updateUserModal-content p{
  text-align: left;
  margin-left: 8px;
}
.updateUserModal-content input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{ 
  -webkit-appearance: none;
  margin: 0;

}

.updateUserModal-content h3{
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}

.updateUserModal-content label{
  margin: 8px;
  position: relative;
  font-weight: 700;
}

.updateUserModal-content input, select {
  display: block;
  margin-top: 0px!important;
  margin-left: 8px!important;
  margin-right: 8px!important;
  margin-bottom: 0px!important;
  border-radius: 8px;
  position: relative !important;
}

.updateUserModal-content input{
  width: 150px;
  height: 21.33px;
}

.updateUserModal-content  select{
  width: 150px;
  height: 27.33px;
}

/*Card FF*/

.cardFF{
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  min-height: 300px;
  max-height: 00px;
  grid-area: cardFF;
  overflow-y: auto; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr;
  grid-gap: 10px;
    
}

.cardFF table {
  border-collapse: collapse; 
  width: 100%;
  grid-column: 1/4;
  grid-row: 2;
  align-self: self-start;
}

.cardFF thead th {
  position: sticky; 
  top: -15px;
  height: 50px;
  border-bottom: 2px solid rgb(194, 193, 193);
}

.cardFF thead :hover{
  background-color: #c9c9c9;
}
.cardFF th, td {
  padding: 8px 16px;
  border-bottom: 1px solid rgb(194, 193, 193);
}

.cardFF th {
  background: white;
}

.cardFF td{
  text-align: center;
}

.cardFF h2 {
  grid-column: 1;
  grid-row: 1;
  justify-self: left;
  align-self: left;
  margin: 8px
}

#addFlagBtn{
  grid-column: 3;
  grid-row: 1;
  place-self: right!important;
  justify-self: right;
  align-self: right;
}

.addFlagModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.addFlagModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 700px;
  height: 200px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px 1fr 30px;
  column-gap: 10px;
  row-gap: 10px;
}

.addFlagModal-content p{
  text-align: left;
  margin-left: 8px;
}
.addFlagModal-content input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{ 
  -webkit-appearance: none;
  margin: 0;

}

.addFlagModal-content h3{
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}

.addFlagModal-content label{
  margin: 8px;
  position: relative;
  font-weight: 700;
}

.addFlagModal-content input, select {
  display: block;
  margin-top: 0px!important;
  margin-left: 8px!important;
  margin-right: 8px!important;
  margin-bottom: 0px!important;
  border-radius: 8px;
  position: relative !important;
}

.addFlagModal-content input{
  width: 150px;
  height: 21.33px;
}

.addFlagModal-content  select{
  width: 150px;
  height: 27.33px;
}

.addFlagModal .firstColumn{
  display: flex;
  grid-column: 1;
  grid-row: 2;
  flex-direction: column;
}

.addFlagModal .secondColumn{
  display: flex;
  grid-column: 2;
  grid-row: 2;
  flex-direction: column;
}

.addFlagModal .thirdColumn{
  display: flex;
  grid-column: 3;
  grid-row: 2;
  flex-direction: column;
}

.addFlagModal .buttonContainer{
  display: flex;
  grid-column: 3;
  grid-row: 3;
  position: sticky!important;
}





.updateFlagModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.updateFlagModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 700px;
  height: 200px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px 1fr 30px;
  column-gap: 10px;
  row-gap: 10px;
}

.updateFlagModal-content p{
  text-align: left;
  margin-left: 8px;
}
.updateFlagModal-content input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{ 
  -webkit-appearance: none;
  margin: 0;

}

.updateFlagModal-content h3{
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}

.updateFlagModal-content label{
  margin: 8px;
  position: relative;
  font-weight: 700;
}

.updateFlagModal-content input, select {
  display: block;
  margin-top: 0px!important;
  margin-left: 8px!important;
  margin-right: 8px!important;
  margin-bottom: 0px!important;
  border-radius: 8px;
  position: relative !important;
}

.updateFlagModal-content input{
  width: 150px;
  height: 21.33px;
}

.updateFlagModal-content  select{
  width: 150px;
  height: 27.33px;
}

.updateFlagModal .firstColumn{
  display: flex;
  grid-column: 1;
  grid-row: 2;
  flex-direction: column;
}

#idFFU{
  display: none
}

#idUserUpdate{
  display: none;
}

.updateFlagModal .secondColumn{
  display: flex;
  grid-column: 2;
  grid-row: 2;
  flex-direction: column;
}

.updateFlagModal .thirdColumn{
  display: flex;
  grid-column: 3;
  grid-row: 2;
  flex-direction: column;
}

.updateFlagModal .buttonContainer{
  display: flex;
  grid-column: 3;
  grid-row: 3;
  position: sticky!important;
}


.deleteFlagModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.deleteFlagModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  height: 150px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 1fr 50px;
  column-gap: 10px;
  row-gap: 10px;
}

.deleteFlagModal-content .deleteConfirmation{
  grid-row: 2;
  grid-column: 1/4;
  place-self: center;
  font-size: 20px;
}

.deleteFlagModal-content .buttonContainerDelete{
  display: flex;
  align-items: end;
  justify-content: end;
  grid-column: 3;
  grid-row: 3;
  position: sticky!important;
}

.card {
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr;
  grid-gap: 10px;
}

.card h2 {
  grid-column: 1;
  grid-row: 1;
  justify-self: left;
  align-self: left;
  margin: 8px;
}

#cardReports {
  grid-area: reports;
  min-height: 130px;
  max-height: 130px;
  display: grid;
  grid-template-columns: 300px 1fr;
  max-width: 320px;
}

#generateReports{
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#completedParts{
  width: 160px;
  height: 30px;
  margin-left: 32px;
  margin-bottom: 32px;
  margin-right: 16px;
}

#generateReport{
  height: 50px;
  place-self: end;
}

