html{
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
}

.mainContainer{
  width: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
}



main {
 width: 100%;
 margin: 0 auto;
  grid-area: main;
  display: grid;
  min-height: calc(100vh - 75px - 120px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas: "allParts allParts allParts"
                       "searchContainer searchContainer addPartContainer"
                        "cardLandingPage cardLandingPage cardLandingPage";
}



@media screen and (max-width: 768px){
  .mainContainer{
    grid-template-areas: "header header header"
                          "main main main"
                          "footer footer footer";
  }


}

@media screen and (max-width: 576px){
  .mainContainer{
    grid-template-areas: "header header header"
                          "main main main"
                          "footer footer footer";
  }
}




a:hover {
  color: black;
}

p {
  text-align: center;
}

.allParts {
  margin-left: 16px;
 grid-area: allParts;
 height: 20px;
  margin-bottom: 32px;
}

.searchContainer{
margin-left: 8px;
  grid-area: searchContainer;
}

.searchBtn {
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
  margin-left: 16px;
 
}

.partSearch {
  height: 30px;
}

.searchBtn:hover {
  transition: all 0.3s ease;
  background-color: #e4c022;
}



.searchBtn:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.addPartContainer{
  grid-area: addPartContainer;
  margin-left: 16px;
}
.addPartBtn {
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  display: block;
  position: absolute;
  margin: 8px;
  right: 0px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.addPartBtn:hover {
  transition: all 0.3s ease;
  background-color: #e4c022;
}

.addPartBtn:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cardLandingPage {
  background-color: WHITE;
    padding: 10px;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 5px;
    margin: 10px;
    min-height: 600px;
    max-height: 600px;
    grid-area: cardLandingPage;
    overflow-y: auto; 
   
}

.cardLandingPage table {
  border-collapse: collapse; 
  width: 100%;
}

.cardLandingPage thead th {
  position: sticky; 
  top: -15px;
  height: 50px;
  border-bottom: 2px solid rgb(194, 193, 193);
}

.cardLandingPage thead :hover{
  background-color: #c9c9c9;
}
.cardLandingPage th, td {
  padding: 8px 16px;
  border-bottom: 1px solid rgb(194, 193, 193);
}

.cardLandingPage th {
  background: white;
}

.cardLandingPage td{
  text-align: center;
}


.adminContainer {
  padding: 5px;
  display: block;
}

.card {
background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  max-width: 50%;
  overflow-y: scroll;
}

.adminBtn {
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  top: 16px;
  left: 0px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.adminBtn:hover {
  transition: all 0.3s ease;
  background-color: #e4c022;
}

.cardTitleContainer {
  min-width: 100%;
  display: flex;
}

.cardTitleText {
  display: flex;
  width: 50%;
}

.cardTitleButton {
  display: flex;
  width: 50%;
  justify-content: right;
  align-items: right;
}

.adminBtn:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.addPartModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.addPartModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 700px;
  height: 400px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px 1fr 30px;
  column-gap: 10px;
  row-gap: 10px;
}

.addPartModal-content input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{ 
  -webkit-appearance: none;
  margin: 0;

}

.addPartModal-content h3{
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}

.firstColumn{
  display: flex;
  grid-column: 1;
  grid-row: 2;
  flex-direction: column;
}

.firstColumn label, input, select{
  margin: 8px;
}

.firstColumn input, select{
  margin: 8px;
  width: 150px;
  height: 21.33px;
}

.secondColumn{
  display: flex;
  grid-column: 2;
  grid-row: 2;
  flex-direction: column;
}

.secondColumn label, input, select{
  margin: 8px;
}

.secondColumn input, select{
  margin: 8px;
  width: 150px;
  height: 21.33px;
}

.thirdColumn{
  display: flex;
  grid-column: 3;
  grid-row: 2;
  flex-direction: column;
}

.thirdColumn label, input, select{
  margin: 8px;
}

.thirdColumn input, select{
  margin: 8px;
  width: 150px;
  height: 21.33px;
}

.buttonContainer{
  display: flex;
  justify-content: end;
  grid-column: 3;
  grid-row: 3;
}

.saveBtn {
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.saveBtn:hover {
  transition: all 0.3s ease;
  background-color: #e4c022;
}

.saveBtn:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cancelBtn {
  background-color: #f1f1f1;
  color: black;
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.cancelBtn:hover {
  transition: all 0.3s ease;
  background-color: #f1f1f1c5;
}

.cancelBtn:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 
 
.close {
  text-align: right;
  grid-row: 1;
  grid-column: 3;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: none;
  background-color: white;
}



.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 


/* #users table {
  border-collapse: collapse;
  color: black;
}

#users td,
#users th {
  border: none;
  padding: 8px;
  color: black !important;
}


.trHover:hover 
{
    background-color: #ddd;
}


#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
    border: none !important;
} */


.actionBtn{
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.actionBtn:hover {
    transition: all 0.3s ease;
    background-color: #e4c022;
}
  
.actionBtn:active {
    background-color: #666666;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.input {
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    position: relative;
    display: inline;
}

.registerBtn {
    background-color: #ffd621;
    color: black;
    border: 0;
    border-radius: 5px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    margin-top: 32px;
    -webkit-transition: all .3s ease;
}

.registerBtn:hover {
    transition: all .3s ease;
    background-color: #e4c022;
}

.selectInput{
  border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    height: 45px;
    width: 180px;
    line-height: 30px;
    padding: 8px 15px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    position: relative;
    display: inline;
}

.errorMessageRegister {
  color: red;
  display: flex;
  font-size: 10px;
  justify-content: left;
  align-items: center;
  margin-top: 1px;
  margin-left: 16px;
  margin-right: 1px;
  margin-bottom: 1px;
  position: relative;
}

.succRegisMessage {
  color: green;
  display: flex;
  font-size: 10px;
  justify-content: left;
  align-items: center;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  position: relative;
}




.blankLP{
  grid-column: 1;
  grid-row: 4;
 
}

  .link {
    color: green;
}

.link:hover {
    text-decoration: none;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 10px;
  list-style: none;
  background-color: #eee;
  margin-bottom: 4px;
  margin-left: 4px;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: green;
  text-decoration: none;
  text-decoration: underline;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.cardPartOverview{
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 1;
}

.infoModule{
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 2;
}

.whereUsed{
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 3;
}

.compareParts{
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 4;
}

.tooling{
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 5;
}

.cost{
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 6;
}

.taskDrawer{
  grid-column: 4/8;
  grid-row: 1/6;
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  max-width: 100%;
}

.suppliers{
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 7;
}

.quantityEstimation{
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 8;
}

.notes{
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/3;
  grid-row: 9;
}

.partOverviewContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.image{
  grid-column: 1/2;
  grid-row: 1/3;
}

.partInfo{
  grid-column: 2/6;
  grid-row: 1/3;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.partNameDesc{
  grid-column: 1/6;
  grid-row: 1;
  max-width: 100%;
  text-align: left ;
}

.partNameDesc p{
  text-align: left;
}

.unit{
  grid-column: 1;
  grid-row: 2;
  max-width: 100%;
}
.unit p{
  text-align: left;
}

.geau{
  grid-column: 2;
  grid-row: 2;
  max-width: 100%;
}

.geau p{
  text-align: left;
}

.geometryFiles{
  grid-column: 3;
  grid-row: 2;
  max-width: 100%;
}

.geometryFiles p{
  text-align: left;
}

.termCode{
  grid-column: 1;
  grid-row: 3;
  max-width: 100%;
}

.termCode p{
  text-align: left;
}

.mgc{
  grid-column: 2;
  grid-row: 3;
  max-width: 100%;
}

.mgc p{
  text-align: left;
}

label{
  font-weight: bold;
  font-size: 20px;
}

.cardUsers{
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 1/2;
  overflow-y: scroll;
  max-height: 100%;
}

.cardFeatures{
  background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/4;
  grid-row: 2;
  max-width: 50%;
  overflow-y: scroll;

}

.blank{
  background-color: #ededed;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/3;
  grid-row: 3;
}

.blankPD{
  background-color: #ededed;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  grid-column: 1/3;
  grid-row: 10;
}

.step {
  position: relative;
  min-height: 1em;
  color: gray;
}

.title {
  line-height: 1.5em;
  font-weight: bold;
}
.caption {
  font-size: 0.8em;
}

.step + .step {
  margin-top: 1.5em
}

.step > div:first-child {
  position: static;
  height: 0;
}

.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}

.circle {
  background: gray;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 0 3px #fff;
}

.circle:after {
  content: ' ';
  position: absolute;
  display: block;
  top: 1px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.step:last-child .circle:after {
  display: none
}

.step.step-active {
  color: green
}
.step.step-active .circle {
  background-color: green;
}

.signOffBtn{
  margin-top: 16px;
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.signOffBtn:hover {
  transition: all 0.3s ease;
  background-color: #e4c022;
}

.signOffBtn:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.infoContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}

.infoContainer p{
  text-align: left;
}

.localECM{
  grid-column: 1;
  grid-row: 1;
}