html,
body {
    position: relative;
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: right;
    justify-content: center;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;

}

.formLogIn {
    margin-top: 64px;
    background-color: white;
    border-radius: 5px;
    height: 520px;
    width: 350px;
    position: relative;
    overflow: hidden;
    border: 1px solid;
    align-items: center;
    display: block;
}

.form-title {
    color: black;
    font-size: 1.7em;
    text-align: center;
}


.input {
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    height: 30px;
    width: 70%;
    line-height: 30px;
    padding: 8px 15px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    position: relative;
}

.inputConfirmPassword {
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    height: 30px;
    width: 70%;
    line-height: 30px;
    padding: 8px 15px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 10px;
    position: relative;
}

.inputEmail {
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    height: 30px;
    width: 70%;
    line-height: 30px;
    padding: 8px 15px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 10px;
    position: relative;
}

.inputPassword {
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    width: 70%;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    position: relative;
}

.loginBtn {
    background-color: #ffd621;
    color: black;
    border: 0;
    border-radius: 5px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 50%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;


}

.loginBtn:hover {
    transition: all .3s ease;
    background-color: #e4c022;
}

.link {
    color: green;
    font-size: 1em;
    text-align: center;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 16px;
    text-decoration: underline;
    display: block;
}

.link:hover {
    text-decoration: none;
}

.formRegister {
    margin-top: 64px;
    background-color: white;
    border-radius: 5px;
    height: 750px;
    width: 350px;
    position: relative;
    overflow: hidden;
    border: 1px solid;
    align-items: center;
    justify-content: right;
}

.errorMessageRegister {
    color: red;
    display: flex;
    font-size: 10px;
    justify-content: left;
    align-items: center;
    margin-top: 1px;
    margin-left: 32px;
    margin-right: 4px;
    margin-bottom: 32px;
    position: relative;
}

.registerBtn {
    background-color: #ffd621;
    color: black;
    border: 0;
    border-radius: 5px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 50%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    margin-top: 32px;
    -webkit-transition: all .3s ease;
}

.registerBtn:hover {
    transition: all .3s ease;
    background-color: #e4c022;
}

.succRegisMessage {
    color: green;
    display: flex;
    font-size: 10px;
    justify-content: left;
    align-items: center;
    margin-top: 1px;
    margin-left: 32px;
    margin-right: 4px;
    margin-bottom: 32px;
    position: relative;
}

.captcha {
    background-color: rgb(173, 163, 163);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    position: relative;
    height: 110px;
    width: 80%;
}

.inputCaptcha {
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 4px;
    position: relative;
    border-radius: 5px;
    height: 20px;
    width: 80%;
    left: 10px;
}

.captchaImage {
    background: url(./images/captcha.jpg);
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 4px;
    position: relative;
    left: 10px;
    border-radius: 5px;
    height: 30px;
    width: 80%;
    text-align: center;
    color: grey;
    font-size: medium;
}

.captchaRefreshBtn {
    background-color: #ffd621;
    color: black;
    border-radius: 5px;
    width: 50%;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    position: relative;
    top: 0px;
    bottom: 10px;
    left: 120px;

}

.captchaSubmitBtn {
    background-color: #ffd621;
    color: black;
    border-radius: 5px;
    width: 50%;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    position: relative;
    top: 0px;
    bottom: 10px;
    left: 120px;
}

