html{
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
}

.mainContainer{
  width: 100%;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
}



main {
 width: 100%;
 margin: 0 auto;
  grid-area: main;
  display: grid;
  min-height: calc(100vh - 75px - 120px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas: "allParts allParts allParts"
                       "searchContainer searchContainer addPartContainer"
                        "cardLandingPage cardLandingPage cardLandingPage";
}



@media screen and (max-width: 768px){
  .mainContainer{
    grid-template-areas: "header header header"
                          "main main main"
                          "footer footer footer";
  }


}

@media screen and (max-width: 576px){
  .mainContainer{
    grid-template-areas: "header header header"
                          "main main main"
                          "footer footer footer";
  }
}




a:hover {
  color: black;
}

p {
  text-align: center;
}

.allParts {
  margin-left: 16px;
 grid-area: allParts;
 height: 20px;
  margin-bottom: 32px;
}

.searchContainer{
  margin-left: 8px;
  grid-area: searchContainer;
}

.searchBtn {
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
  margin-left: 16px;
 
}

.partSearch {
  height: 30px;
}

.searchBtn:hover {
  transition: all 0.3s ease;
  background-color: #e4c022;
}



.searchBtn:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.addPartContainer{
  grid-area: addPartContainer;
  margin-left: 16px;
}
.addPartBtn {
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  position: absolute;
  margin: 8px;
  right: 0px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.addPartBtn:hover {
  display: block;
  transition: all 0.3s ease;
  background-color: #e4c022;
}


.addPartBtn:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cardLandingPage {
    background-color: WHITE;
    padding: 10px;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 5px;
    margin: 10px;
    min-height: 600px;
    max-height: 600px;
    grid-area: cardLandingPage;
    overflow-y: auto; 
   
}

.cardLandingPage table {
  border-collapse: collapse; 
  width: 100%;
}

.cardLandingPage thead th {
  position: sticky; 
  top: -15px;
  height: 50px;
  border-bottom: 2px solid rgb(194, 193, 193);
}

.cardLandingPage thead :hover{
  background-color: #c9c9c9;
}
.cardLandingPage th, td {
  padding: 8px 16px;
  border-bottom: 1px solid rgb(194, 193, 193);
}

.cardLandingPage th {
  background: white;
}

.cardLandingPage td{
  text-align: center;
}


.adminContainer {
  padding: 5px;
  display: block;
}

.card {
background-color: WHITE;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 5px;
  margin: 10px;
  max-width: 50%;
  overflow-y: scroll;
}

.adminBtn {
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  top: 16px;
  left: 0px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.adminBtn:hover {
  transition: all 0.3s ease;
  background-color: #e4c022;
}

.cardTitleContainer {
  min-width: 100%;
  display: flex;
}

.cardTitleText {
  display: flex;
  width: 50%;
}

.cardTitleButton {
  display: flex;
  width: 50%;
  justify-content: right;
  align-items: right;
}

.adminBtn:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.addPartModal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.addPartModalUpdate {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.loadingContainer{
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.loading{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid green;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  grid-column: 2;
  grid-row: 2;
  place-self: center;
}

.loadingContainerTable{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.loadingable{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid green;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  grid-column: 2;
  grid-row: 2;
  place-self: center;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.addPartModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 700px;
  height: 400px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px 1fr 30px;
  column-gap: 10px;
  row-gap: 10px;
}

.addPartModal-content p{
  text-align: left;
  margin-left: 8px;
}
.addPartModal-content input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{ 
  -webkit-appearance: none;
  margin: 0;
}

.addPartModal-content h3{
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}

.addPartModal-content label{
  font-weight: 700;
}

.firstColumn{
  display: flex;
  grid-column: 1;
  grid-row: 2;
  flex-direction: column;
}

.firstColumn input, select{
  display: block;
  margin-top: 0px!important;
  margin-left: 8px!important;
  margin-right: 8px!important;
  margin-bottom: 0px!important;
  border-radius: 8px;
}

.firstColumn label{
  margin: 8px;
}

.firstColumn input{
  display: block !important;
  width: 150px;
  height: 21.33px;
}

.firstColumn  select{
  width: 150px;
  height: 27.33px;
}

.secondColumn{
  display: flex;
  grid-column: 2;
  grid-row: 2;
  flex-direction: column;
}

.secondColumn input, select{
  display: block;
  margin-top: 0px!important;
  margin-left: 8px!important;
  margin-right: 8px!important;
  margin-bottom: 0px!important;
  border-radius: 8px;
}

.secondColumn label{
  margin: 8px;
}

.secondColumn input{
  display: block !important;
  width: 150px;
  height: 21.33px;
}

.secondColumn  select{
  width: 150px;
  height: 27.33px;
}

.thirdColumn{
  display: flex !important;
  grid-column: 3;
  grid-row: 2;
  flex-direction: column;
}

.thirdColumn input, select{
  display: block !important;
  margin-top: 0px!important;
  margin-left: 8px!important;
  margin-right: 8px!important;
  margin-bottom: 0px!important;
  border-radius: 8px;
}

.thirdColumn label{
  margin: 8px;
}

.thirdColumn input{
  display: block;
  width: 150px;
  height: 21.33px;
}

.thirdColumn  select{
  width: 150px;
  height: 27.33px;
}

.buttonContainer{
  display: flex;
  justify-content: end;
  grid-column: 3;
  grid-row: 3;
  position: sticky!important;
}

.saveBtn {
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.saveBtn:hover {
  transition: all 0.3s ease;
  background-color: #e4c022;
}

.saveBtn:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cancelBtn {
  background-color: #f1f1f1;
  color: black;
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.cancelBtn:hover {
  transition: all 0.3s ease;
  background-color: #f1f1f1c5;
}

.cancelBtn:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 
.updateBtn {
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
  display: block;
}

.updateBtn:hover {
  transition: all 0.3s ease;
  background-color: #e4c022;
}

.updateBtn:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 
.close {
  text-align: right;
  grid-row: 1;
  grid-column: 3;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: none;
  background-color: white;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.error{
  color: red;
  font-size: smaller;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
  margin-left: 8px!important;
}

.message-container-success {
  background-color:  rgba(0, 255, 0, 0.233);
  border-radius: 5px;
  width: 100px;
  grid-column: 2;
  grid-row: 1;
  height: 50%;
  width: 50%;
  position: relative;
  overflow: hidden;
  align-items: center;
  overflow: hidden;
  top: 0;
  text-align: center;
  display: grid;
  justify-content:center;
  place-self: center;
}

.message-container-successDelete {
  background-color:  rgba(0, 255, 0, 0.233);
  border-radius: 5px;
  width: 100px;
  grid-column: 2;
  grid-row: 1;
  height: 50%;
  width: 50%;
  position: relative;
  overflow: hidden;
  align-items: center;
  overflow: hidden;
  top: 0;
  text-align: center;
  display: grid;
  justify-content:center;
  place-self: center;
}

.message-container-successUpdate {
  background-color:  rgba(0, 255, 0, 0.233);
  border-radius: 5px;
  width: 100px;
  grid-column: 2;
  grid-row: 1;
  height: 50%;
  width: 50%;
  position: relative;
  overflow: hidden;
  align-items: center;
  overflow: hidden;
  top: 0;
  text-align: center;
  display: grid;
  justify-content:center;
  place-self: center;
}
.message-container-error {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  width: 100px;
  grid-column: 2;
  grid-row: 1;
  height: 50%;
  width: 50%;
  position: relative;
  overflow: hidden;
  align-items: center;
  overflow: hidden;
  top: 0;
  text-align: center;
  display: grid;
  justify-content:center;
  place-self: center;
}

.message-container-noParts {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  width: 100px;
  grid-column: 2;
  grid-row: 1;
  height: 50%;
  width: 50%;
  position: relative;
  overflow: hidden;
  align-items: center;
  overflow: hidden;
  top: 0;
  text-align: center;
  display: grid;
  justify-content:center;
  place-self: center;
}



.message {
  font-size: 14px;
  font-weight: 700;
  color: #5d6168;
  text-align: center;
}


.deletePartModal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.deleteParModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  height: 150px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 1fr 50px;
  column-gap: 10px;
  row-gap: 10px;
}

.deleteConfirmation{
  grid-row: 2;
  grid-column: 1/4;
  place-self: center;
  font-size: 20px;
}

.buttonContainerDelete{
  display: flex;
  align-items: end;
  justify-content: end;
  grid-column: 3;
  grid-row: 3;
  position: sticky!important;
}

.confirmDelete {
  background-color: red;
  color: black;
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.confirmDelete:hover {
  transition: all 0.3s ease;
  background-color: rgba(255, 0, 0, 0.63);
}

.confirmDelete:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.actionBtn{
  background-color: #ffd621;
  color: black;
  border: 0;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
}

.actionBtn:hover {
    transition: all 0.3s ease;
    background-color: #e4c022;
}
  
.actionBtn:active {
    background-color: #666666;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#idPart{
  display: none !important;
}


/* Style the list */
ul.breadcrumb {
  padding: 10px 10px;
  list-style: none;
  background-color: #eee;
  margin-bottom: 4px;
  margin-left: 4px;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: green;
  text-decoration: none;
  text-decoration: underline;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

